<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="ingilizce_Kelime.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<connectionStrings>
    <add name="ingilizce_Kelime.Properties.Settings.eng_trConnectionString"
        connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\libs\eng-tr.mdb"
        providerName="System.Data.OleDb" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <ingilizce_Kelime.Properties.Settings>
            <setting name="son_konum_x" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="son_konum_y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="last_location" serializeAs="String">
                <value>libs\eng-tr.mdb</value>
            </setting>
            <setting name="history" serializeAs="String">
                <value />
            </setting>
        </ingilizce_Kelime.Properties.Settings>
    </userSettings>
</configuration>
